@import url("http://webfonts.ru/import/anahit.css");
body {
	font-family: 'AMG Anahit';
	font-weight: normal;
	font-style: normal;
	background-color: #1b1b1b;
	color: #686868;
}
a {
	color: #4A4AC7;
}
.wrap {
	width: 1180px;
	margin: 0 auto;
	position: relative;
}
.pattern1 {
	background-image: url('../images/pattern1.png');
}
.pattern2 {
	background-image: url('../images/pattern2.png');
}
.pattern3 {
	background-image: url('../images/pattern3.png');
}
.menu ul {
	overflow: hidden;
	font-style: italic;
}
.menu a:link,
.menu a:visited
{
	display:block;
	color: #B6B6B6;
	text-decoration:none;
}
.menu a:hover,
.menu a:active
{
	color: #c09e42;
	text-shadow:0 0 10px #FFFDC7;
}
.menu.horizontal {
	position: absolute;
	top: 63px;
	left: 214px;
}
.menu.horizontal li {
	display: block;
	float: left;
}
.menu.horizontal a {
	width:140px;
	padding: 20px 0 20px 0;
	text-align:center;
}
.indent {
	margin-right: 165px;
}
.vertical a{
	padding: 10px;
	font-size: 14px;
}
.active a{
	color: #c09e42 !important;
}
.right {
	float: right;
}
.left {
	float: left;
}
header {
	text-align: center;
	overflow: visible;
	padding-top: 30px;
	border-bottom: 1px solid #353535;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
	position: relative;
	height: 130px;
	z-index: 9;
}
.logo{
	width: 180px;
	height: 181px;
	margin: 0 auto;
	background: url('../images/bg_logo.png') no-repeat bottom center;
}
.logo a{
	font-size: 36px;
	color: #000;
	text-decoration:none;
	text-transform:uppercase;
}
#main {
	overflow: hidden;
}
.banner {
	overflow: hidden;
}
.banner img {
	width: 100%;
}
.banner-1 {
	height: 100px;
	width: 70%;
}
.banner-2 {
	height: 100px;
	width: 30%;
	background-color: #c09e42;
}
.left-col {
	margin-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.36);
	padding: 40px 0 20px 20px;
	width: 220px;
	height: 100%;
	float: left;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.catalog {
	padding: 10px 20px 20px 0;
}
.catalog .title {
	font-size: 25px;
	padding-bottom: 12px;
	padding-left: 9px;
}
.right-col {
	margin-left: 240px;
	padding: 40px 0 50px 20px;
}
.discount,
.company {
	width: 210px;
	text-align: center;
	border-radius: 10px;
	padding: 10px 0 10px 0;
	overflow: hidden;
	float: left;
	margin: 7px;
	font-size: 12px;
	color: #000;
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.discount .button {
	border-radius: 5px;
}
.discount:hover,
.company:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	-moz-box-shadow:  0px 0px 10px 0px rgba(0,0,0,1);
	box-shadow:  0px 0px 10px 0px rgba(0,0,0,1);
}
.order,
.profile{
	padding-left: 20px;
}
.discount-title {
	padding-top: 5px;
}
.discount-logo {
	width: 200px;
	height: 150px;
	overflow: hidden;
	margin: 10px auto;
}
.discount-order .title {
	padding: 30px 0 30px 0;
	font-size: 30px;
	color: #bbb;
}
.discount-text {
	font-size: 12px;
	text-align: center;
	width: 190px;
	height: 25px;
	margin: 0 auto;
	overflow: hidden;
}
.discount-price {
	padding: 10px 0 5px 0;
	width: 122px;
	text-align: right;
	font-weight: bold;
	margin: 0 auto;
}
.discount .price {
	padding-bottom: 10px;
	text-align: center;
}
.companies {
	overflow: hidden;
}
a.company {
	display: block;
	text-decoration: none;
}
.company-logo {
	width: 200px;
	height: 150px;
	overflow: hidden;
	margin: 10px auto;
}
.company-name {
	font-size: 14px;
}
.amount-discounts {
	padding-top: 5px;
}
.city {
	font-size: 16px;
}
table {
	background-color: rgba(0, 0, 0, 0.36);
	width: 100%;
}
table {
	margin-bottom: 15px;
}
table, td, th {
	padding:15px;
}
.table-head {
	text-align: right;
	color: #bbb;
}
/*order form*/
input, textarea {
	margin-top: 5px;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	outline: none;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}
input:focus,
textarea:focus {
	border: 1px solid #8F4040;
}
label {
	cursor: pointer;
}
textarea {
	resize: none;
	height: 100px;
}
.form-row {
	padding: 5px 0 15px 0;
}
.button {
	outline: none;
	border: none;
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.button:active {
	position:relative;
	top:1px;
}
#link_pager {
	padding-top: 30px;
}
#link_pager a {
	background-color:#A25042;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0 -1px 0 #7a2a1d;
}
#link_pager li {
	display: inline-block;
}
#link_pager li.selected a{
	background-color: #622e20;
}
#order {
	width: 400px;
}
.form-order p {
	color: #bbb;
}
.form-order .title {
	padding: 30px 0 15px 0;
	font-weight: 600;
}

/*company profile*/
.company-title {
	padding: 30px 0 30px 0;
	font-size: 30px;
	color: #bbb;
}
.company-img {
	padding-bottom: 20px;
}
.company-map {
	width: 100%;
	height: 400px;
	margin-top: 50px;
}
.company-html {
	padding: 30px 0 30px 0;
}
.company-discounts {
	overflow: hidden;
}
.company-discounts-title {
	padding-bottom: 20px;
	color: #bbb;
}
/*footer*/
footer {
	background: url('../images/bottom_shadow.png') no-repeat scroll center top transparent;
	padding: 15px 0 15px 0;
	text-align: center;
	background-color: #000;
	color: #fff;
}
/*slider*/
.bx-controls-direction a {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.bx-wrapper:hover .bx-controls-direction a {
	opacity: 1;
}
.bx-controls-direction a {
  display: none;
}

.bx-wrapper:hover .bx-controls-direction a {
	display: block;
}